*
  margin: 0
  padding: 0

canvas
  position: absolute

.loading
  text-align: center
  margin-top: 100px

.game-area
  // background-color: blue
  overflow: hidden
  position: absolute
  width: 600px
  height: 600px
